@import 'media';
.crypto-currencies {
  .mat-card-header .mat-card-title {
    margin-bottom: 0;
  }
  .mat-card-header-text {
    margin: {
      left: 0;
      top: -10px;
      right: 20px;
      bottom: 0;
    }
  }
  .mat-list-base .mat-list-item {
    &.mat-list-item-with-avatar {
      height: 45px;
    }

    .mat-list-item-content {
      padding: 0;
    }
  }
}
.create-edit-article {
  &__remove {
    @include media('<phone') {
      padding: 0 !important;
      min-width: 35px !important;
    }
    .form-buttons {
      &__icon {
        @include media('>=phone') {
          display: none;
        }
      }
      &__label {
        @include media('<phone') {
          display: none;
        }
      }
    }
  }
}
