<ng-container *ngFor="let button of buttons">
  <div *ngIf="button.classWrapper" [class]="button.classWrapper">
    <ng-container
      *ngTemplateOutlet="buttonTmpl; context: { $implicit: button }"
    >
    </ng-container>
  </div>
  <ng-container *ngIf="!button.classWrapper">
    <ng-container
      *ngTemplateOutlet="buttonTmpl; context: { $implicit: button }"
    >
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #buttonTmpl let-button>
  <ng-container [ngSwitch]="button.style?.type">
    <button
      *ngSwitchDefault
      mat-button
      [ngClass]="[button?.classNames || '']"
      (click)="
        click(button.action.type, button.action.payload, button.action.handler)
      "
      [type]="button.type || 'button'"
      [disabled]="button.action?.type === 'submit' ? form.invalid : false"
      [color]="button.style?.color || ''"
    >
      <ng-container
        *ngTemplateOutlet="buttonContent; context: { $implicit: button }"
      ></ng-container>
    </button>

    <button
      *ngSwitchCase="'raised'"
      mat-raised-button
      [ngClass]="[button?.classNames || '']"
      (click)="
        click(button.action.type, button.action.payload, button.action.handler)
      "
      [type]="button.type || 'button'"
      [disabled]="button.action.type === 'submit' ? form.invalid : false"
      [color]="button.style?.color || ''"
    >
      <ng-container
        *ngTemplateOutlet="buttonContent; context: { $implicit: button }"
      ></ng-container>
    </button>
    <button
      *ngSwitchCase="'stroked'"
      mat-stroked-button
      [ngClass]="[button?.classNames || '']"
      (click)="
        click(button.action.type, button.action.payload, button.action.handler)
      "
      [type]="button.type || 'button'"
      [disabled]="button.action.type === 'submit' ? form.invalid : false"
      [color]="button.style?.color || ''"
    >
      <ng-container
        *ngTemplateOutlet="buttonContent; context: { $implicit: button }"
      ></ng-container>
    </button>
  </ng-container>
</ng-template>

<ng-template #buttonContent let-button>
  <div class="form-buttons__content">
    <mat-icon
      class="form-buttons__icon"
      [ngStyle]="{
        'font-size': button?.icon?.size ? button?.icon?.size + 'px' : '24px'
      }"
      *ngIf="button?.icon?.name"
      [color]="button.style?.color || ''"
      >{{ button?.icon?.name }}</mat-icon
    >
    <span class="form-buttons__label">
      {{ button.label || '' }}
    </span>
  </div>
</ng-template>
