@import 'vars';

::ng-deep {
  .accordion {
    &.mat-expansion-panel {
      box-sizing: border-box;
      margin: 15px 0;
    }
    .mat-expansion-panel-header.mat-expanded {
      border-bottom: 1px solid $alto;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 48px;
    }
    &__button.mat-button {
      padding: 0 5px;
      min-width: 0;
      margin: 0 20px;
    }
  }
}
.accordion {
  &__subheader {
    border-bottom: 1px solid $hint-of-red;
    margin: 0 -25px 20px;
  }
}
