<div class="login row">
  <div class="col-12">
    <button class="login__button login__button--google" mat-raised-button>
      <mat-icon class="login__icon" svgIcon="google-logo"></mat-icon> login in
      with google
    </button>
  </div>
  <div class="col-12">
    <button class="login__button login__button--facebook" mat-raised-button>
      <mat-icon class="login__icon" svgIcon="facebook-logo"></mat-icon> login in
      with facebook
    </button>
  </div>
  <div class="col-12 login__or">OR</div>
  <div class="form-container col-12">
    <app-form
      [fields]="fields"
      [model]="loginModal"
      (submitted)="onSubmit($event)"
    >
    </app-form>
  </div>
</div>
