<form class="my-profile-form" [formGroup]="myProfileForm">
  <clr-input-container>
    <label class="clr-col-12">Name</label>
    <input clrInput aria-label="User Name" class="clr-col-12" formControlName="fullName"/>
  </clr-input-container>
  <clr-input-container class="p3">
    <label class="clr-col-12">Email</label>
    <input clrInput aria-label="Email" class="clr-col-12" formControlName="email"/>
  </clr-input-container>
  <clr-input-container class="p3">
    <label class="clr-col-12">Plan Code</label>
    <input clrInput aria-label="Plan Code" class="clr-col-12" formControlName="planCode"/>
  </clr-input-container>
</form>
