@import 'vars';
@import 'media';
html {
  font-size: 16px;
}
body {
  font-family: $font-family;
  font-size: $fs;
  color: $black;
  line-height: $line-height;
  p {
    font-size: inherit;
    margin: 0 0 28px;
    color: inherit;
    line-height: inherit;
    font-family: inherit;
  }
}

@mixin containerResize() {
  @include media('<desktop') {
    max-width: 1024px;
  }
  @include media('<tablet') {
    max-width: 768px;
  }
  @include media('<phone') {
    padding: 0;
    width: 100%;
  }
}

.container {
  max-width: 1380px;
  padding: 0 20px;
  margin: 0 auto;
  @include containerResize();
}

.home-container {
  width: 1134px;
  padding: 0 20px;
  margin: 0 auto;
  @include containerResize();
}

h1,
h2,
h3,
h4 {
  line-height: inherit;
  margin-top: 0;
  font-family: inherit;
}

h2 {
  font-size: $fs-lg;
}

h3 {
  font-size: $fs-big;
}

.margin-left-auto {
  margin-left: auto !important;
  display: block !important;
}
