// font
$fs-lg: 26px;
$fs-big: 20px;
$fs: 16px;
$fs-sm: 14px;
$fs-lt: 12px;

$font-family: 'Open Sans', sans-serif;
$line-height: 1.7;
$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// colors

$black: #3c3c3c;
$white: #fff;
$primary: #3f51b5;

$shadow-regular: 0 2px 10px rgba(56, 68, 166, 0.25);
$shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);

//screen sizes
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;

// sizes
$hHeader: 64px;
