<div class="dialog-password-conformation" mat-dialog-content>
  <p class="dialog-password-conformation__text">
    Please enter your password to your account <span>{{ data.email }}</span> for
    login by <span>Google</span> or <span>Facebook</span>
  </p>
  <mat-form-field class="dialog-password-conformation__field">
    <mat-label>Your Password</mat-label>
    <input type="password" minlength="6" matInput [(ngModel)]="data.password" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-password-conformation__actions">
  <button
    [disabled]="!data.password.length"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data.password"
    cdkFocusInitial
  >
    Submit
  </button>
</div>
