@import 'vars';
.dialog-password-conformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    text-align: center;
    font-size: $fs-sm;
    span {
      color: $primary;
    }
  }
  &__field {
    width: 100%;
    max-width: 280px;
  }
  &__actions {
    display: flex;
    justify-content: center;
  }
}
