@import 'mixins';
@import 'vars';

.crypto-currencies {
  padding-bottom: 0;
  margin-top: 70px;
  &__title {
    font-size: $fs;
    color: #0d47a0;
  }
  &__form {
    padding: 15px 0;
  }
  &__button {
    position: absolute;
    top: 3px;
    right: 5px;
    z-index: 1;
  }
  &__item {
    font-size: $fs-sm;
    padding: {
      left: 0;
      right: 15px;
    }
  }
  &__name {
    @include max-lines(1, $fs-lg);
    white-space: normal;
    cursor: help;
  }
  &__price {
    color: #028786;
  }
  &__loading {
    height: 65px !important;
    span {
      text-align: center;
      width: 100%;
    }
  }
}
