@import 'vars';

.form {
  &__submit {
    width: calc(100% - 30px);
    margin: 10px auto;
    height: 40px;
    border-radius: 5px;
    font-size: $fs;
    text-transform: uppercase;
    font-weight: 400;
  }
}
