<form class="row form" *ngIf="form" [formGroup]="form">
  <ng-container *ngFor="let field of fields">
    <ng-container [ngSwitch]="field.type">
      <field-checkbox
        *ngSwitchCase="'checkbox'"
        [ngClass]="field.className || 'col-12'"
        [config]="field"
        [control]="form.controls[field.key]"
      ></field-checkbox>

      <field-input
        *ngSwitchDefault
        [ngClass]="field.className || 'col-12'"
        [config]="field"
        [control]="form.controls[field.key]"
      ></field-input>
    </ng-container>
  </ng-container>
  <button
    class="form__submit"
    [disabled]="form.invalid"
    (click)="submitForm()"
    mat-raised-button
    color="accent"
  >
    Submit
  </button>
</form>
